<%
var featureimg = url_for('/medias/bg.jpg');
if (page.img) {
    featureimg = url_for(page.img);
} 
%>

<div class="bg-cover pd-header post-cover" style="background-image: url('<%- featureimg %>')">
    <div class="container" style="right: 0px;left: 0px;">
        <div class="row">
            <div class="col s12 m12 l12">
                <div class="brand">
                    <h1 class="description center-align post-title"><%= page.title %></h1>
                </div>
            </div>
        </div>
    </div>
</div>
